.page-footer{
    margin: 0;
    padding: 0;

    color: white;
    background: #767777;
}

.brand-logo{
    width: 50px;
    height: auto;
}

.mdbfooter-c1{
    background: #767777;
    text-align: center;
}

.mdbfooter-c2{
    background: #525454;
    text-align: center;
}