.navbar{
    background: #ffff;
}

.brand-logoo{
    width: 75px;
    height: auto;
}

.brand-search{
    width: 30px;
    height: auto;
}
.logo-text{
    font-family: monospace;
}

.header-navbar{
    padding: 0 !important;
}