.card-img{
    align-content: center !important;
    width: auto;
    height: auto;
}

.card-img-p{
    align-content: center !important;
    width: 340px;
    height: 260px;
}

.div-productcard{
    padding: 0% !important; 
}